@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  color: #000000 !important;
}
h3 {
  padding-top: 20px;
}

#form-close {
  padding-top: 20px;
}

p {
  cursor: default !important;
}

p1 {
  font-size: 20px;
  color: #000000;
}

/*Navbar*/
.btn {
  outline-color: #ffa500;
  font-weight: bold;
}
.nav-col {
  color: #000;
}
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  nav {
    z-index: 3000 !important;
    padding: 0 1rem 0 1rem !important;
  }

  .nav-link {
    text-align: center;
    font-weight: bold;
    color: #000 !important;
    outline: none !important;
  }

  .navbar-brand {
    padding-top: 4% !important;
    padding-bottom: 2% !important;
  }

  .nav-img {
    width: 150px;
    height: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 849.98px) {
  h1 {
    padding-top: 6px !important;
  }

  .navbar-brand {
    padding: 0 !important;
  }

  nav {
    z-index: 3000 !important;
    padding: 0 6rem 0 6rem !important;
    width: 100%;
    padding-left: 3% !important;
  }

  .navbar-expand-md .navbar-collapse {
    padding-left: 5% !important;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
  h1 {
    padding-top: 6px !important;
  }

  .navbar-brand {
    padding: 0 !important;
  }

  nav {
    z-index: 3000 !important;
    /* padding: 0 6rem 0 6rem !important; */
    width: 100%;
    padding-left: 8% !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
  }

  .navbar-expand-md .navbar-collapse {
    align-items: center;
    /* padding-right: 14%; */
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    padding-top: 6px !important;
  }

  .navbar-brand {
    padding: 0 !important;
    width: 100px;
  }

  nav {
    z-index: 3000 !important;
    padding: 0 6rem 0 6rem !important;
    width: 100%;
    padding-left: 12% !important;
    padding-right: 10% !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
  }

  .navbar-expand-md .navbar-collapse {
    padding-left: 20% !important;
    align-items: right;
  }
}
.nav-link {
  font-size: 15px !important;
  outline: none !important;
}

.nav-link:active {
  border-bottom: 4px solid #fff200 !important;
}

.collapse navbar-collapse ul ul.navbar-nav .btnclass {
  background-color: red;
}

.pl-lg-4,
.px-lg-4 {
  padding-left: 7.5rem !important;
  margin-right: 0em !important;
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 5.5rem !important;
  }
}

/*Introduction*/

.for-home {
  height: 500px;
}

.alt-bg {
  background-color: #f8f9fa;
}
.alt-bg-2 {
  background-color: #fff200;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .w-xs-50 {
    width: 50% !important;
  }

  #introduction {
    min-height: 50vh !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% -8vh;
    width: 100%;
  }

  #intro-img-holder {
    top: -29% !important;
  }

  #intro-img {
    width: 95% !important;
  }

  h2 {
    margin-top: 2%;
    cursor: default !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1198.98px) {
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

  #introduction {
    background-repeat: no-repeat;
    background-position: 8% 112%;
  }

  #intro-img {
    height: 110% !important;
  }

  h2 {
    margin-top: 8vh;
  }
}

@media only screen and (min-width: 1200px) {
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

  #introduction {
    background-repeat: no-repeat;
    background-position: 11% 112%;
  }

  #intro-img-holder {
    /* top: -13% !important; */
    left: 17% !important;
    /* height: 100% !important; */
  }

  #intro-img {
    height: 100% !important;
  }

  h2 {
    margin-top: 8vh;
    cursor: default !important;
  }
}
.color-grayish-blue {
  color: #9698a6 !important;
}
.color-black {
  color: #000000;
}

#request-invite-btn {
  background: linear-gradient(90deg, #31d35c, #2bb7da) !important;
  font-size: 18px !important;
  display: block;
}

.imgcon {
  padding-top: 25px;
  padding-bottom: 25px;
}
.img-con {
  text-align: center;
}

h4.bold {
  font-weight: bold;
}

/* funq */
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  #funq {
    background-color: #fff200 !important;
  }

  .double-gutter-md-left-padding {
    padding-left: 0px !important;
  }
}
@media only screen and (min-width: 768px) {
  #funq {
    background-color: #fff200 !important;
    /* to counter container max-width for md+ screens*/
  }

  .gutter-md-left-padding {
    padding-left: 15px !important;
  }

  .double-gutter-md-left-padding {
    padding-left: 30px !important;
  }
}
.card {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fff200 !important;
  border: none !important;
  margin: 0 !important;
  cursor: default !important;
}
.cardbtm {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff !important;
  border: none !important;
  margin: 0 !important;
  cursor: default !important;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card h4 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.card img {
  width: 100% !important;
}

.card p {
  width: 90%;
  font-size: 16px !important;
}

/*Articles*/

.sub-head {
  margin-bottom: 15px;

  /* text-decoration:underline; */

  border-bottom: 3px solid #fff200;
  align-items: center;
}

#box {
  max-width: 100px;
  align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .custom-container {
    width: 50%;
    height: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #articles {
    background-color: #fafafa !important;
  }

  .article-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 5% !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    width: 90%;
    background-color: white !important;
    margin: 7% auto 7% auto !important;
  }

  .article-card h5 {
    font-size: 1.12rem !important;
  }

  .article-card .article-details {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 768px) {
  #articles {
    background-color: #fafafa !important;
    width: 100% !important;
    max-width: 100% !important;
    /* to counter container max-width for md+ screens*/
  }

  .article-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 5% !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    width: 90%;
    background-color: white !important;
    margin: 7% 5px 7% 5px !important;
    cursor: default !important;
  }

  .article-card h5 {
    font-size: 1.12rem !important;
  }

  .article-card .article-details {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  .article-card-odd {
    margin-left: -1% !important;
  }

  .article-card-even {
    margin-right: -1% !important;
  }
}

.author-name {
  font-size: 14px !important;
}

.article-card-text {
  width: 80%;
}
.ico {
  max-width: 65px;
  max-height: 65px;
}
.contact {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-contact-container {
  width: 100%;
  height: 100%;
  background-color: #fff200;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.bold-align {
  stroke: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 25px;
}
.row-full {
  width: 100vw;
  position: relative;
  background-color: #fff200;
  margin-left: -50vw;
  height: 100px;
  margin-top: 100px;
  left: 50%;
}
.school-erp {
  padding-bottom: 80px;
}
button {
  cursor: pointer;
  outline: none;
}
.outline {
  position: relative;
  z-index: 3;
  background: transparent;
  color: #1172c4;
  font-size: 14px;
  border-color: #1172c4;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.outline:hover {
  color: white;
  background: #000;
  border-color: rgb(0, 0, 0);
  transition: all 0.2s linear;
}

.black-yellow {
  font-weight: 700;
  color: #fff;
  border-color: #000;
  background: #000;
  border-color: #000;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.btn-bg-orange {
  font-weight: 700 !important;
  position: relative;
  z-index: 3;
  background-color: #ffa500;
  color: #000;
  font-size: 14px;
  border-color: #000;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-md-custom-easybank {
    margin-top: -13% !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1549.98px) {
  #business-tagline {
    font-size: 35px !important;
  }
}
@media only screen and (min-width: 1550px) {
  .mt-md-custom-easybank {
    margin-top: -8% !important;
  }

  #business-tagline {
    font-size: 2.8rem !important;
  }
}
.request-btns:hover,
.request-btns:active {
  opacity: 0.7;
}

/* contact-form */
#contactform {
  display: none;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.contact-form {
  top: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/*float*/
.pull-left {
  float: left;
}
.pull-right {
  float: left;
}

.txt-center {
  text-align: center;
}

button,
input,
select,
textarea {
  font-size: 70%;
  /* margin: 5px; */
  vertical-align: baseline;
  padding-bottom: 7px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  padding-left: 3px;
  vertical-align: top;
  margin-: 10px;
}

#contact-form {
  background-color: #fff;
}

#contact-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact-form li {
  position: relative;
}

input:required,
input:invalid,
input:valid,
textarea:required,
textarea:invalid,
textarea:valid {
  box-shadow: none !important;
}

input,
textarea {
  display: block;
  border: 0;
  background-color: transparent;
  margin-top: 10px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #fff;
  opacity: 0.2 !important;
}
textarea,
input::-webkit-input-placeholder {
  font-size: 10px;
  line-height: 3;
}

label {
  display: inline-block;
  position: absolute;
  margin-top: -64px;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  opacity: 0.5;
  opacity: 1;
  -webkit-transition: transform 100ms ease-out, opacity 300ms ease-in-out,
    color 200ms ease-out, margin 200ms ease-out;
  transition: transform 100ms ease-out, opacity 300ms ease-in-out,
    color 200ms ease-out, margin 200ms ease-out;
}

input,
textarea {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  padding-top: 1.2em;
  padding-bottom: auto;
  outline: 0;
  resize: none;
  overflow: hidden;
  border-bottom: 1px solid #cecece;
  -webkit-transition: text-indent 400ms ease-out, transform 225ms ease-out,
    opacity 225ms ease-in-out, border 300ms ease-out, color 300ms ease-out;
  transition: text-indent 400ms ease-out, transform 225ms ease-out,
    opacity 225ms ease-in-out, border 300ms ease-out, color 300ms ease-out;
}

input {
  text-indent: -999px;
}

input:focus,
textarea:focus {
  color: #777;
  border-bottom: 3px solid rgba(0, 161, 217, 1);
  opacity: 1;
  text-indent: 0;
}

input[type="url"]:focus {
  color: #777;
  border-bottom: 3px solid rgba(0, 161, 217, 1) !important;
  opacity: 1;
  text-indent: 0;
}

input[type="url"]:focus ~ .required {
  opacity: 1 !important;
}

input:focus + label {
  margin-top: -90px;
  opacity: 1;
  color: rgba(0, 161, 217, 1);
}

textarea:focus + label {
  margin-top: -115px;
  opacity: 1;
  color: rgba(0, 161, 217, 1);
}

input:focus ~ .required {
  opacity: 1;
}

textarea {
  text-indent: -999px;
  padding-bottom: 15px;
  height: auto;
  resize: none;
}

input[type="submit"] {
  margin-bottom: 1em;
  padding: 0.7em 1em;
  width: 100%;
  cursor: pointer;
  border: 0;
  background-color: #ffa500;

  color: #000 !important;
  font-weight: bold;
  font-size: 1em;
  border: 0;
  opacity: 1 !important;
  text-indent: 0;
  -webkit-transform: none;
  transform: none;
}
.fsize {
  font-size: 15px;
}

/*NOTIFICATIONS*/

.required {
  position: absolute;
  margin-top: -26px;
  opacity: 0;
  color: rgba(0, 161, 217, 1);
  font-style: italic;
  font-weight: bold;
  font-size: 0.9em;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.notification {
  position: absolute;
  color: rgba(242, 48, 65, 0.95);
  margin-top: -30px;
  margin-bottom: 30px;
  opacity: 0;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-transition: opacity 325ms ease-out;
  transition: opacity 325ms ease-out;
}

.char-counter {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: -25px;
  margin-bottom: 30px;
  opacity: 1;
  font-size: 0.01em;
  font-weight: bold;
  -webkit-transition: opacity 325ms ease-out;
  transition: opacity 325ms ease-out;
}

@media (min-width: 0px) and (max-width: 767px) {
  h1 {
    font-size: 1.75em;
  }

  label {
    font-size: 0.9em;
  }

  #contact-form {
    position: relative;
    width: 300px;
    margin: 15px auto;
    padding: 45px 20px 30px;
    background-color: #fff;
  }

  .required {
    margin-top: -24px;
    margin-left: 76%;
  }

  textarea:focus ~ .required,
  textarea:not(:focus) ~ .required {
    margin-top: -24px;
  }

  textarea:focus ~ .required {
    opacity: 1;
  }
  textarea:not(:focus) ~ .required {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  #contact-form {
    position: relative;
    width: 450px;
    margin: 30px auto;
    padding: 20px 50px 30px;
    background-color: #fff;
  }

  .required {
    margin-top: -25px;
    margin-left: 82.5%;
  }

  textarea:focus ~ .required,
  textarea:not(:focus) ~ .required {
    margin-top: -23px;
  }

  textarea:focus ~ .required {
    opacity: 1;
  }

  textarea:not(:focus) ~ .required {
    opacity: 0;
  }
}
/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
p2 {
  font-size: 20px;
}
p1 {
  font-size: ;
}
.a-footer {
  text-decoration: none;
}
